<ion-list lines="full" style="margin:0">
    <ion-item (click)="permenentVisitor()">
        <ion-icon class="set_icon" name="person-add" mode="ios"></ion-icon>
        <ion-label>&nbsp;&nbsp;&nbsp;Permenent Visitor</ion-label>
    </ion-item>
    <ion-item (click)="help()">
        <ion-icon name="information-circle"></ion-icon>
       <ion-label>&nbsp;&nbsp;&nbsp;Help</ion-label>
    </ion-item>
    <ion-item (click)="offship()">
        <ion-icon name="log-out"></ion-icon>
       <ion-label> &nbsp;&nbsp;&nbsp;Off-ship</ion-label>
    </ion-item>
    <ion-item>
        <ion-label float-right>Version : {{version}}</ion-label>
    </ion-item>
</ion-list>