<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listsimplevisitor" float-left></ion-back-button>
    </ion-buttons>
    <ion-title>Visitor Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <img class="sqr-pic" [src]="this.webview.convertFileSrc(Visitordata.Picture)" />
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Name : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span class="label_color">{{Visitordata.Name}}</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Flat No : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span class="label_color">{{Visitordata.BuildingBlock }}-{{Visitordata.FlatNo}}</span>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Contact No :</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span class="label_color">{{Visitordata.ContactNo}}</span>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Vehicle No : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span class="label_color">{{Visitordata.VehicleNo}}</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Reason : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <span class="label_color">{{Visitordata.Reason}}</span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-item>
        <ion-label>FlatNo : <span class="label_color">{{Visitordata.BuildingBlock }}-{{Visitordata.FlatNo}}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>ContactNo : <span class="label_color">{{Visitordata.ContactNo}}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>VehicleNo : <span class="label_color">{{Visitordata.VehicleNo}}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="white-space: normal">Reason : <span class="label_color">{{Visitordata.Reason}}</span></ion-label>
      </ion-item> -->
    </ion-card-content>
  </ion-card>


</ion-content>