<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/visitors"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Visitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="submitVisitor()">
    <ion-card>
      <ion-card-content (click)="takePicture()">
        Picture:
        <img class="circle-pic" [src]="base64Image" *ngIf="base64Image" />
        <ion-icon name="camera" style="zoom:2.0;margin-bottom: 5px;"  float-right></ion-icon>
        <!-- <ion-input *ngIf="base64Image" type="hidden" [(ngModel)]="visitor.image" name="image" value={{base64Image}}></ion-input> -->
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="visitorModel.Name" name="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact No</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="visitorModel.ContactNo" name="ContactNo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Vehicle No</ion-label>
      <ion-input type="text" [(ngModel)]="visitorModel.VehicleNo" name="VehicleNo"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label id="BuildingBlock" position="floating">Building Block</ion-label>

          <ion-select [(ngModel)]="visitorModel.BuildingBlock" name="BuildingBlock" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
            <ion-select-option value="A">A</ion-select-option>
            <ion-select-option value="B">B</ion-select-option>
            <ion-select-option value="C">C</ion-select-option>
            <ion-select-option value="D">D</ion-select-option>
            <ion-select-option value="E">E</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label id="FlatNo" position="floating">Flat No</ion-label>
          <ion-input type="number" [(ngModel)]="visitorModel.FlatNo" name="FlatNo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <!-- </ion-item> -->
    <!-- <ion-item>

    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Reason</ion-label>
      <ion-textarea type="text" [(ngModel)]="visitorModel.Reason" name="Reason"></ion-textarea>
    </ion-item>


    <ion-button class="btn_set" type="submit" color="tertiary" expand="block">Submit</ion-button>

  </form>

</ion-content>