<!-- Hint module html -->
<div class="hint-main-div" [style.width.px]="winWidth" [style.height.px]="winHeight" [style.display]="display">
  <ion-button class="button_skip" color="light" expand="block" (click)="hint_skip()">
    X
  </ion-button>
  <div class="hint-detail">
    <ion-label color="light">Username:Demo1</ion-label>
    <ion-label color="light">Password:1234</ion-label>
    <ion-label color="light">Shift:Day</ion-label>
    <ion-button color="tertiary tint" style="font-size: initial;margin:30px" expand="block" (click)="defaultLogin()"
      size="large">
      Explore Demo
    </ion-button>
  </div>
</div>

<ion-header text-center>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="user.Name" name="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pin</ion-label>
      <ion-input type="tel" maxlength="4" pattern="\d{4}" style="-webkit-text-security: disc;"
        [(ngModel)]="user.Password" name="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Select Shift</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="user.Shift" name="Shift" interface="popover">
        <ion-select-option value="Day">Day</ion-select-option>
        <ion-select-option value="Noon">Noon</ion-select-option>
        <ion-select-option value="Night">Night</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" color="tertiary" expand="block" style="margin:30px">Login</ion-button>
  </form>
  <ion-button color="tertiary tint" style="font-size: initial;margin:30px" expand="block" href="/registerguard"
    routerDirection="forward" size="large">
    Register
  </ion-button>
</ion-content>