<ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab label="Schedule" icon="calendar">
      <ion-router-outlet stack name="schedule"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Speakers" icon="contacts">
      <ion-router-outlet stack name="speakers"></ion-router-outlet>
    </ion-tab>
  </ion-tabs>

</ion-content>