<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listvisitedpermenentvisitor" float-left></ion-back-button>
    </ion-buttons>
    <ion-title>Visitor Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content class="user-detail-box">
      <img class="sqr-pic" [src]="this.webview.convertFileSrc(Pvisitordata.image)" />
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-label>Name : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item> 
              <span class="label_color">{{Pvisitordata.visitorname}}</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-label>Refrences By : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <span class="label_color">{{Pvisitordata.flatno}}</span>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-label>Contact No :</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <span class="label_color">{{Pvisitordata.contectno}}</span>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-label>Purpose : </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <span class="label_color">{{Pvisitordata.purpose}}</span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="button_flag">
          <ion-col size="4">
          </ion-col>
          <ion-col>
            <ion-item size="4">
              <ion-button class="btnvisit" size="normal" color="tertiary" (click)="onVisit()" float-right>Visit
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size="4">
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>


</ion-content>