.sqr-pic{
    width: 100%;
    height: 320px;
    border-radius: 5%;
    margin: 0px 0px 9px;
}
.label_color{
    color: #f4a942;
}

.user-detail-box ion-label , .user-detail-box ion-item {float: left; text-align: left}