<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/permenentVisitor" float-left></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Permanent Visitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="submitPvisitor()">

    <ion-card>
      <ion-card-content (click)="takePicture()">
        Picture:
        <img class="circle-pic" [src]="base64Image" *ngIf="base64Image" />
        <ion-icon name="camera" style="zoom:2.0;margin-bottom: 5px;"  float-right></ion-icon>
        <!-- <ion-button (click)="takePicture()">Take a Picture</ion-button> -->
        <!-- <ion-input *ngIf="base64Image" type="hidden" [(ngModel)]="visitor.image" name="image" value={{base64Image}}></ion-input> -->
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="permenentVisitormodel.visitorname" name="visitorname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact No</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="permenentVisitormodel.contectno" name="contectno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Purpose</ion-label>
      <ion-input type="text" [(ngModel)]="permenentVisitormodel.purpose" name="vehicleno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Reference By</ion-label>
      <ion-textarea type="text" [(ngModel)]="permenentVisitormodel.flatno" name="flatno"></ion-textarea>
    </ion-item>

    <ion-button class="btn_set" type="submit" color="tertiary" expand="block">Submit</ion-button>

  </form>

</ion-content>