.circle-pic{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin:0px 0px 9px;
}

.lbl_title{
    padding-left: 4px !important;
    width: 222px;
    padding-right: 0px !important;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px
}
p.lbl_title::first-letter{
    text-transform: uppercase
}

.lbl_subtitle{
    padding-left: 4px !important;
    width: 222px;
    margin: 0 auto;
}
.main-visitor-box {
    width: 100%;
     float: left;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
}
.visitor-box {
    width: 70%;
    float: left;
    box-shadow: inherit;
    background: none;
    padding: 0;
}
.main-visitor-box .btnvisit {
    float: right;
    margin: 10px 0;
}

.visitor-box .card-content {
    padding: 0px !important;
    float: left;
    width: 100%;
}


.visitor-box .card-content .hydrated {margin: 0px !important;float: left;
    width: 100%;}
.visitor-box .card-content .hydrated img {margin: 0px 10px 9px 0}

.visitor-box .img-box {float: left; width: 65px;}
.visitor-box .detail-box {float: left; width: 73%;}
.visitor-box .detail-box p {width: 100%;}