<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/permenentVisitor" float-left></ion-back-button>
    </ion-buttons>
    <ion-title>Permanent Visitors</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/new Permenentvisitor" routerDirection="forward">
        <ion-icon class="set_icon" name="person-add" style="zoom:1.5;" mode="ios"></ion-icon>
      </ion-button>
      <ion-button href="/listvisitedpermenentvisitor" routerDirection="forward">
        <ion-icon name="list" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar mode="ios" (ionInput)="getItems($event)" (ionClear)="initlizeData()" animated></ion-searchbar>
  <ion-list *ngIf="!search">
    <div class="main-visitor-box" *ngFor="let item of items">
      <ion-card class="visitor-box" (click)="onDetails(item)">
        <ion-card-content>
          <ion-card-subtitle>
            <div class="img-box">
              <img class="circle-pic" [src]="this.webview.convertFileSrc(item.image)" float-left />
            </div>
            <div class="detail-box">
              <p class="lbl_title"> {{ item.visitorname }} </p>
              <p class="lbl_subtitle"> {{item.flatno}}</p>
            </div>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      <ion-button class="btnvisit" color="tertiary" size="small" (click)="onVisit(item)" float-right>Visit</ion-button>
    </div>
  </ion-list>

  <ion-list *ngIf="search">
    <div class="main-visitor-box" *ngFor="let item of filterData">
      <ion-card class="visitor-box" (click)="onDetails(item)">
        <ion-card-content>
          <ion-card-subtitle>
            <div class="img-box">
              <img class="circle-pic" [src]="this.webview.convertFileSrc(item.image)" float-left />
            </div>
            <div class="detail-box">
              <p class="lbl_title"> {{ item.visitorname }} </p>
              <p class="lbl_subtitle"> {{item.flatno}}</p>
            </div>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      <ion-button class="btnvisit" color="tertiary" size="small" (click)="onVisit(item)" float-right>Visit</ion-button>
    </div>
  </ion-list>
  <div *ngIf="items.length == 0 || search && filterData.length == 0 " text-center>
    No Data Found
  </div>
</ion-content>