<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="submitGuard()">
    <ion-card>
      <ion-card-content (click)="takePicture()">
        Picture:
        <img class="circle-pic" [src]="base64Image" *ngIf="base64Image" />
        <ion-icon name="camera" style="zoom:2.0;margin-bottom: 5px;"  float-right></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="guardModel.Name" name="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pin</ion-label>
      <ion-input type="tel" maxlength="4" pattern="\d{4}" style="-webkit-text-security: disc;"
        [(ngModel)]="guardModel.Password" name="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Society Name</ion-label>
      <ion-input type="text" [(ngModel)]="guardModel.SocietyName" name="SocietyName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Select Shift</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="guardModel.Shift" name="Shift" interface="popover">
        <ion-select-option value="Day">Day</ion-select-option>
        <ion-select-option value="Noon">Noon</ion-select-option>
        <ion-select-option value="Night">Night</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="guardModel.country" name="country" interface="popover" (ionChange)="onCountryChange()">
          <ion-option *ngFor="let country of countries" [value]="country">{{country}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="guardModel.state" name="state" interface="popover">
            <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
        </ion-select>
      </ion-item> -->
    <ion-button class="btn_set" type="submit" color="tertiary" expand="block">Submit</ion-button>
  </form>
</ion-content>