.set_label_style{
 //  font-size: initial
}

.label_color{
    color: #f4a942;
}
.circle-pic{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin: 10% auto;
}

.visitor-name-detail {
    height: 100%;
    right: 0;
    margin: 0;
}
.visitor-name-detail ion-list {height: 100%; border: 1px solid #ddd}
.visitor-name-detail ion-list .card-content {height: 100%;}
.visitor-name-detail ion-card {
    height: 100%;
    margin: 0;
}
.visitor-name-detail ion-card .set_label_style {
   text-align: center;
}
.visitor-name-detail ion-card .set_label_style b, .visitor-name-detail ion-card .set_label_style span{width: 100%;top:10%;font-size:16px}
// .visitor-name-detail ion-card .set_label_style span{ font-size: 14px}
.visitor-display-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    top: 75%;
    transform: translateY(-60%);
    right: 0;
}