<ion-header>
  <ion-toolbar>
    <ion-title text-center>NatGuard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="more" float-right></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="visitor-name-detail">
  <ion-list>
    <ion-card>
      <ion-card-content>
        <img class="circle-pic" [src]="guardImage" *ngIf="guardImage" />
        <ion-label class="set_label_style">
          <b>
            Guard Name
          </b>
        </ion-label>
        <ion-label class="set_label_style label_color">
          <span>
            {{guardName}}
          </span>
        </ion-label>


        <ion-label class="set_label_style">
          <b>
            Society Name
          </b>
        </ion-label>
        <ion-label class="set_label_style label_color">
          <span>
            {{societyName}}
          </span>
        </ion-label>

        <!-- <ion-label class="set_label_style" style="margin-top: 10%">Society Name: <span
            class="set_label_style label_color">&nbsp;
            &nbsp;{{societyName}}</span></ion-label> -->

        <ion-grid class="visitor-display-box">
          <ion-row align-items-center>
            <ion-col>
              <ion-card (click)="pushVisitor()">
                <ion-list class="card_header_color">
                  <ion-item>
                    <ion-icon class="icon_style" name="contact" mode="ios"></ion-icon>
                  </ion-item>
                  <ion-item>
                    <ion-label class="label_style">Visitor</ion-label>
                  </ion-item>
                </ion-list>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>