<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/visitors" float-left></ion-back-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Nat Guard: Safety & Security in your hands.</p>

  <p>Register yourself with the app and maintain a digital register & save the nature.</p>

  <p>Keep all the details of visitors handy with just few clicks.</p>

  <p>Steps:-</p>
  <ion-list>
    <ion-item>
      >> Login for Security Guards shift wise.
    </ion-item>
    <ion-item>
      >> Select the type of visitor.
    </ion-item>
    <ion-item>
      >> Select one option among the two.
    </ion-item>
    <ion-item>
      >> Enter the details into temporary visitor, capture the photograph for cross-verfication.
    </ion-item>
    <ion-item>
      >> Enter the details of permanent visitor & click visit to save the visit details.
    </ion-item>
  </ion-list>
</ion-content>