<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/simplevisitor" float-left></ion-back-button>
    </ion-buttons>
    <ion-title>List Visitors</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/newVisitor" routerDirection="forward">
        <ion-icon style="zoom:1.5;" name="person-add" mode="ios"></ion-icon>
      </ion-button>
      <ion-button (click)="savePDF()">
        <ion-icon name="save" style="zoom:1.5;"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of visitedList" (click)="detailStore(item)">
      <ion-card-content>
        <ion-card-subtitle>
          <img class="circle-pic" [src]="this.webview.convertFileSrc(item.Picture)" float-left />
          <p class="lbl_title"> {{ item.Name }} </p>
          <p class="lbl_subtitle"> Flat No:{{item.BuildingBlock}}-{{item.FlatNo}} </p>
          <p class="lbl_subtitle"> {{item.datetime |timeAgo}}</p>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div *ngIf="visitedList.length == 0" text-center>
    No Data Found
  </div>
</ion-content>