.circle-pic{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin:0px 0px 9px;
}

.btnvisit{
    position: absolute;
    right: 0;
    top: 5px;
}
.lbl_title{
    padding-left: 4px !important;
    width: 222px;
    padding-right: 0px !important;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px
}
p.lbl_title::first-letter{
    text-transform: uppercase
}

.lbl_subtitle{
    padding-left: 4px !important;
    width: 222px;
    margin: 0 auto;
}